
.parent {
  background-color: yellow;
  height: 300px;
  width: 100%;
}

.ChildComponent1 {
  margin: auto;
  width: 95%;
  background-color: red;
}

.ChildComponent2 {
  margin: auto;
  margin-top: -3%;
  width: 95%;
  background-color: greenyellow;
}

